:host ::ng-deep .card-register {
    .p-card-content {
        padding: 0 !important;
        height: 100% !important;
    }
    .p-card-body {
        padding: 0 !important;
        height: 21rem !important;
    }
}
