<form
    (ngSubmit)="onSubmit($event)"
>
    <div class="grid mt-2">
        <div class="col p-3">

            <div class="formgrid grid p-3">
                <div class="field col-12">
                    <p-floatLabel [formGroup]="form">
                        <input
                            id="title"
                            formControlName="title"
                            type="text"
                            pInputText
                            class="w-full"
                            [ngClass]="{'ng-invalid ng-dirty': isInvalid('title')}"
                        />
                        <label for="title">Título</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('title')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('title')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('title')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('title')?.hasError('backend')" class="text-center">
                            {{ form.get('title')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="formgrid grid p-3">
                <div class="field col-10 md:col-11 pr-0" >
                    <p-floatLabel  [formGroup]="form" class="">
                        <p-dropdown
                            [options]="types"
                            formControlName="reminder_type_id"
                            id="reminder_type_id"
                            optionLabel="name"
                            optionValue="id"
                            styleClass="w-full"
                            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('reminder_type_id') }"
                            placeholder="Categoria" />
                        <label for="reminder_type_id">Categoria</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('reminder_type_id')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('reminder_type_id')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('reminder_type_id')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('reminder_type_id')?.hasError('backend')" class="text-center">
                            {{ form.get('reminder_type_id')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
                <div class=" col-2 md:col-1 pl-0">
                    <p-button label="" icon="pi pi-plus" size="large" (onClick)="newType($event)" />
                </div>
            </div>
            <div class="formgrid grid p-3">
                <div class="field col-12 md:col-4">
                    <p-floatLabel  [formGroup]="form">
                        <p-dropdown
                            [options]="[{desc: 'Sim', value: true}, {desc: 'Nao', value: false}]"
                            optionValue="value"
                            optionLabel="desc"
                            id="repeat"
                            formControlName="repeat"
                            styleClass="w-full"
                            placeholder="Repete"
                        />
                        <label for="repeat">Repete</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('repeat')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('repeat')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('repeat')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('repeat')?.hasError('backend')" class="text-center">
                            {{ form.get('repeat')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-8" *ngIf="form?.get('repeat').value">
                    <p-floatLabel  [formGroup]="form">
                        <p-dropdown
                            [options]="periods"
                            optionValue="value"
                            styleClass="w-full"
                            optionLabel="description"
                            id="period"
                            formControlName="period"
                            [ngClass]="{'ng-invalid ng-dirty': isInvalid('period')}"
                        />
                        <label for="period">Período</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('period')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('period')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('period')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('period')?.hasError('backend')" class="text-center">
                            {{ form.get('period')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="formgrid grid p-3">
                <div class="field col-12 md:col-4">
                    <p-floatLabel  [formGroup]="form">
                        <p-calendar
                            id="reminder_date"
                            formControlName="reminder_date"
                            styleClass="w-full {{isInvalid('reminder_date') ? 'ng-invalid ng-dirty' : '' }}"
                            placeholder="Data"
                            showIcon="true"
                            appendTo="body"
                        />
                        <label
                            for="reminder_date"
                        >Data</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('reminder_date')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('reminder_date')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('reminder_date')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('reminder_date')?.hasError('backend')" class="text-center">
                            {{ form.get('reminder_date')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
                <div class="field col-12 md:col-4" *ngIf="form?.get('repeat').value">
                    <p-floatLabel  [formGroup]="form">
                        <p-calendar
                            id="ends_at"
                            inputId="ends_at"
                            formControlName="ends_at"
                            placeholder="Até"
                            styleClass="w-full {{isInvalid('ends_at') ? 'ng-invalid ng-dirty' : '' }}"
                            appendTo="body"
                            showIcon="true"
                        />
                        <label for="ends_at">Até</label>
                    </p-floatLabel>
                    <div *ngIf="isInvalid('ends_at')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('ends_at')?.hasError('required')" class="text-center">
                            Campo obrigatório.
                        </div>
                    </div>

                    <div *ngIf="isInvalid('ends_at')"
                         class="mb-3 text-red-500">
                        <div *ngIf="form.get('ends_at')?.hasError('backend')" class="text-center">
                            {{ form.get('ends_at')?.errors['backend'] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="p-dialog-footer w-full" style="position:fixed; left: 0; bottom:0">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" type="button" class="p-button-text" (click)="hideDialog($event)"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" type="submit" class=""></button>
    </div>

</form>
