<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <span>CogniMemo</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <p-button
            pRipple
            (onClick)="notification.toggle($event)"
            [text]="true"
            size="large"
            [plain]="true"
        >
            <i class="pi pi-bell p-text-secondary " badgeStyleClass="p-badge-contrast" pBadge style="font-size: 1.5rem" value="2"></i>
        </p-button>
        <p-menu #notification [model]="perfilItems" [popup]="true" />
        <p-menu #menu [model]="perfilItems" [popup]="true" >
            <ng-template pTemplate="start">
                <div class="flex flex-column mx-4 mt-2">
                    <span class="font-bold">{{user?.name}}</span>
                    <span class="text-sm p-text-secondary">{{user?.email}}</span>
                </div>
            </ng-template>
        </p-menu>
        <p-button
            pRipple
            (onClick)="menu.toggle($event)"
            size="large"
            [plain]="true"
            [text]="true"
        >
            <i class="pi pi-user p-text-secondary " style="font-size: 1.5rem"></i>
        </p-button>
    </div>
</div>
